<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <title>Vue Todo</title>
</head>

<body>
  <div id="app">
    <h2>Todo List</h2>
    <form v-on:submit.prevent>
      <input type="text" v-model="task.title" placeholder="タイトル">
      <input type="textarea" v-model="task.todo" placeholder="Todo">
      <button @click="addTodo">Todo追加</button>
    </form>

    <div class="todo-box">
      <p>タイトル: {{task.title}} </p>
      <p>Todo: {{task.todo}} </p>
      {{ $data }}
    </div>


  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <script src="js/main.js"></script>
</body>


</html>
